* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  background-color: #f3f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.tarjeta_inicio {
  background-color: #0d281e;
  width: 100%;
  max-width: 380px;
  min-height: 650px;
  padding: 40px 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.encabezado {
  position: relative;
  margin-bottom: 32px;
  margin-top: 20px;
}

.encabezado img {
  position: absolute;
  top: 0;
  right: 0;
}

.encabezado h1 {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 6px;
}

.encabezado p {
  color: #8da499;
  font-size: 13px;

}





.formulario_login {
  display: flex;
  flex-direction: column;
}

.correo,
.contraseña {
  background-color: #143528;
  border-radius: 12px;
  padding: 10px 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  
}
.correo input,
.contraseña input {
  background: transparent;
  border: none;
  outline: none;
  color: #a0b5ab;
}

/*color letra pequeña*/
.correo input::placeholder,
.contraseña input::placeholder {
  color: #ecf2ef;
}

/* Enlace recuperar contraseña */
.olvido_contraseña {
  text-align: right;
  margin-bottom: 24px;
}

.olvido_contraseña a {
  color: #2ecc71;
  font-size: 13px;
  text-decoration: none;
}

.boton_iniciar_sesion {
  background-color: #25d366;
  color: #171f0a;
  border: none;
  border-radius: 12px;
  padding: 14px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  transition: opacity 0.2s;
}

.boton_iniciar_sesion:hover {
  opacity: 0.9;
}

/* Enlace inferior Registro */
.registro {
  margin-top: 20px;
  text-align: center;
}



.iniciar_sesion {
  color: #2ecc71;
  font-weight: 600;
  text-decoration: none;
}

